*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #e1c3b3;
    color: #323232;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #323232;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background: #f26522;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s
}

nav ul li a:hover:after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    margin-top: 30px;
    font-size: 60px;
    color:#323232;
    font-weight: 650;
}

.header-text h1 span{
    color:#323232;
}


.UIDesigner{
    font-size: 30px;
    font-weight: 600;
    color: #f26522;
    line-height: 100%;
    font-family: "DM Sans";
}

.about-col-2 h1{
    font-size: 30px;
    margin-bottom: 15px;
}

#services h1{
    font-size: 30px;
}

#portfolio h1{
    font-size: 30px;
}

.portfolio{
    font-family:"serif";
    color: #f26522;
}


/*------------------about----------------*/

#about{
    padding: 80px 0;
    color: #323232;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.serif{
    font-family: serif;
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;}
    
 
.about-col-2{
        flex-basis: 60%;
    }

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #323232;
}

p{
    font-size: 15px;
    font-weight: 500;
    color: #323232;
    line-height: 110%;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color:#f26522;
}

.tab-titles p{
    color:#f26522;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #f26522;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width:50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents span{
  color:#f26522;
  font-weight: 300;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*--------------services---------*/
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.services-list div{
    background:#e1c3b3;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color:#f26522;

}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #323232;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color:#dfd1ca;
    transform: translateY(-10px);
}

/*--------------portfolio---------*/

#portfolio{
padding: 50px 0;
}
    
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .work{
        border-radius:10px;
        position: relative;
        overflow: hidden;
    }

    .work img{
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform 0.5s;
    }

    .layer{
        width: 100%;
        height: 0;
        background: linear-gradient( rgba(255, 81, 0, 0.9), #ffd5c1);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0px 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
        justify-content: center;
        
    }

    .layer h3{
        font-weight: 600;
        margin-bottom: 20px;
        color:#fff;
    }


    .layer a{
        margin-top: 20px;
        color: #f26522;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius:50%;
        text-align:center;
    }

    .work:hover img{
transform: scale(1.1)
    }
.work:hover .layer{
height: 100%;

}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #f26522;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#323232;
    transition: background 0.5s;
}

.btn:hover{
    background:#f26522;
}

/*---------------contact---------------*/

.social-icons a{
    color:#f26522;
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
color:#323232;
transform: translateY(-5px);
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top:  30px;
    margin-bottom:  30px;
}


.contact-left p i{
    color: #f26522;
    margin-right: 15px;
    font-size: 25px;
}

.btn.btn2{
    display: inline-block;
    background: #f26522;
    color:#dfd1ca;
    transition: transform 0.5s;
}

.btn.btn2:hover{
    transform: translateY(-5px);
    color:#323232;
}

.btn.btn3{
    display: inline-block;
    background: #e1c3b3;
    color:#f26522;
    margin-top: 20px;
    margin-bottom: 15px;
    border:none;
    transition: transform 0.5s;
    width: 50%;
    text-align: center;
}

.btn.btn3:hover{
    color:#323232;
    transform: translateY(-5px);
    }

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#e1c3b3;
    padding: 15px;
    margin: 15px 0;
    color:#323232;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #e1c3b3;
    font-weight: 300;
    margin-top: 20px;
}

/*--------------css for small screens---------*/
nav .fa-solid{
    display: none;
}
 @media only screen and (max-width: 600px){
#header{
    background-image: url(images/phone-background.png);
} 
.header-text{
    margin-top: 100%;
    font-size: 16px;
}
.header-text h1{
    font-size: 30px;
}

nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #fff;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}

nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-title{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.copyright{
    font-size: 14px;
}
}